[mysqld]
character-set-server=utf8mb4
skip-character-set-client-handshake=utf8mb4
default-storage-engine=INNODB
explicit-defaults-for-timestamp=1
general-log=1
general-log-file=/var/log/mysql/mysqld.log
default-time-zone = 'Asia/Tokyo'

[mysqldump]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4